<html>
    <head>
        <title>Rasur</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Döner Kebab auf deinen Nacken</a></h1>
        </div>

        <div>
            #<p>published: .06.2014, 12:14</p>
            <h2><a href="">Nur Mangal Döner du wayst</a></h2>
            <p>mit Ayran all you can drink</p>
        </div>

        <div>
            #<p>published: 14.06.2014, 12:14</p>
            <h2><a href="">einfach nur köftespieß</a></h2>
            <p>Haval bring mir einfach nur ein köftespieß</p>
        </div>
    </body>
</html>